.signUp {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("https://cdn.pixabay.com/animation/2023/05/15/09/24/09-24-42-868_512.gif"),
    url("https://cdn.pixabay.com/animation/2023/07/01/12/25/12-25-50-208_512.gif");
  background-repeat: no-repeat;
  background-size: 200px;
  background-color: rgb(241, 237, 220);
  .signUpCard {
    display: flex;
    width: 70%;
    height: 70%;
    max-width: 900px;
    max-height: 600px;
    // min-height: 450px;
    border-radius: 10px;
    // padding: 10px;
    box-shadow: 0 0 2px 1px rgb(212, 212, 212);
    .right {
      flex: 1;
      background-image: linear-gradient(
          rgba(22, 4, 71, 0.61),
          rgba(4, 4, 68, 0.507)
        ),
        url("https://images.pexels.com/photos/4881619/pexels-photo-4881619.jpeg?auto=compress&cs=tinysrgb&w=1600");
      background-size: cover;
      background-position: center;
      padding: 20px 40px;

      gap: 30px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: 0 10px 10px 0;
      h1 {
        text-align: center;
        font-size: 5rem;
        color: white;
      }

      a {
        border: none;
        text-decoration-line: none;
        background-color: white;
        width: fit-content;
        text-align: center;
        padding: 9px 20px;
        color: purple;
        &:hover {
          background-color: purple;
          color: white;
        }
      }
    }
    .left {
      flex: 1;
      background-color: white;
      border-radius: 10px 0 0 10px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 10px;
      padding: 30px 20px;
      h1 {
        font-size: 2rem;
        text-align: center;
      }
      .loginForm {
        padding-inline: 0 20px;
        display: flex;
        flex-direction: column;
        gap: 30px;
        .inputItems {
          position: relative;
          .eyeIcon {
            position: absolute;
            top: 14px;
            right: 10px;
          }
          input {
            width: 100%;
            border: none;
            border-bottom: 2px solid lightgray;
            padding: 10px;
            &:focus {
              outline: none;
              border-bottom: 2px solid rgb(132, 101, 245);
            }
          }
        }
        .signUpBtn {
          margin: 0 auto;
          button {
            background-color: rgb(212, 119, 248);
            width: 150px;
            padding: 10px;
            border: none;
            color: white;

            &:hover {
              background-color: rgb(140, 30, 184);
            }
          }
        }
      }
    }
  }
  @media screen and (max-width: 600px) {
    justify-content: flex-start;
    align-items: flex-start;
    height: fit-content;
    .card {
      flex-direction: column;
      gap: 20px;
      width: 100%;
      min-height: 450px;
      border-radius: 10px;
      padding: 10px;
      margin-block: 30px;
      .left {
        border-radius: 10px;
      }
      .right {
        border-radius: 10px;
        padding: 20px 20px 30px;
      }
    }
  }
}
